<script type="text/javascript" src="/app/test.js"></script>
<div style='width: 300px; background-color: black;' id="canvasWrapper">
    <canvas width="300" height="300" id="stageCanvas" style="background: none; display: none;">
    </canvas>
</div>
<img id="src"/>
