<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta content="width=420 user-scalable=no" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- 
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
     Le fav and touch icons -->

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.autoresize.1.14.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.ba-hashchange.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <!--[if IE]><script type="text/javascript" src="/js/excanvas.compiled.js"></script><![endif]-->
    <script type="text/javascript" src="/app/preloadjs-NEXT.min.js"></script>
    <script type="text/javascript" src="/app/easel.js"></script>

   	<script type="text/javascript" src="/app/soundjs-0.2.0.min.js"></script>
   	<script type="text/javascript" src="/app/soundjs.flashplugin-0.2.0.min.js"></script>

    <script type="text/javascript" src="/app/AppContext.js"></script>
    <script type="text/javascript" src="/app/QuadTree.js"></script>
    <script type="text/javascript" src="/app/BaseCharacter.js"></script>
    <script type="text/javascript" src="/app/BitmapItem.js"></script>
    <script type="text/javascript" src="/app/MapGenerator.js"></script>
    <title>Berserker Room</title>
</head>
<body>

<div class="container-fluid" style="padding: 0;">
    <%- body %>
    <footer>
        <span>&copy; Dotme 2012</span>
        <span id="notify" class="ml10"></span>
    </footer>
</div>
<!-- /container -->

</body>
</html>
