<script type="text/javascript" src="/app/multiplay.js"></script>
<div width="400" height="300" id="canvasWrapper">
    <canvas width="400" height="300" id="stageCanvas" style="background-color:#333333;"></canvas>
</div>
