<script type="text/javascript" src="/app/offline.js"></script>
<div width="480" height="500" id="canvasWrapper" class="center">
    <canvas width="464" height="464" id="stageCanvas" style="background-color:#333333;"></canvas>
</div>
