<script type="text/javascript" src="/app/offline.js"></script>
<div width="420" height="400" id="canvasWrapper" class="center">
    <canvas width="400" height="400" id="stageCanvas" style="background-color:#333333;"></canvas>
</div>
