<script type="text/javascript" src="/app/typing.js"></script>
<div style='width: 300px;' id="canvasWrapper">
    <canvas width="300" height="100" id="stageCanvas" style="background-color:#FFFFFF;">
    </canvas>
    <div class="center">
        <form action="#" onsubmit="$.typing.onSubmit();return false">
            <input type="text"/>
            <div class="ma10">
                <input type="submit" value="ENTER" class="btn primary"/>
            </div>
        </form>

    </div>
</div>
